<main class="form">
<h1><%= title %></h1>
<p>Please enter your credentials to access your account.</p>

<!-- Display validation errors if any -->
<% if (errors) { %>
    <div class="error-messages">
    <% errors.forEach(function(error) { %>
        <p><%= error.msg %></p>
    <% }) %>
    </div>
<% } %>

<!-- Login form -->
<form action="/account/login" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="account_email" required>


    <label for="password">Password:</label>
    <input type="password" id="password" name="account_password" required>

    <button type="submit">Login</button>

    <p class="signup-link">
      No account? <a href="/account/register">Sign up</a>
    </p>

</form>
</main>