<footer class="site-footer">
  <div class="footer-inner">
    <p class="copyright">&copy; <span id="year"><%= new Date().getFullYear() %></span> CSE Motors</p>
    <a href="/error/trigger-error">Test Error Handling</a>
  </div>
</footer>