<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></http-equiv>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> CSE Motors</title>
  <meta name="description" content="CSE Motors: Explore the DMC Delorean, upgrades, and reviews.">
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link 
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Slab:wght@500;700&display=swap" 
    rel="stylesheet" 
    media="screen">
  <link rel="stylesheet" href="/css/styles.css" media="screen" >
  <script src="/js/script.js"></script>
</head>