<%# Unit 3, Assignment 3, Task 1 %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>



<% if(Object.entries(htmlData).length > 0){ %>

<%- htmlData %>
<% } else { %>
<p class="notice">Sorry, no matching vehicle could be found.</p>
<% } %>

<form action="/add" method="POST">
  <input type="hidden" name="inv_id" value="<%= vehicle.inv_id %>">
  <button type="submit">❤️ Add to Favorites</button>
</form>