<h1>Inventory Management</h1>

<!-- Flash messages -->
<% if (messages && messages.length > 0) { %>
  <div class="notice">
    <% messages.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
</ul>





